PORT=3001

## Auth
AUTH_SECRET= # openssl rand -base64 32
AUTH_ORIGIN=localhost:3000
AUTH_COOKIE_NAME=hive-auth

## Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password

## YouTube
YT_API_KEY=
